
body,html{
    height:100%;
    width:100%;
}


body {
           background-image: url("http://simplywallpaper.net/pictures/2010/04/09/abtract-psychedelic-4.jpg");
       }
       
       body,html{
           height:100%;
       }
       
      .container {
          width: 100%; 
          border: 1px solid grey;
      }

    header, footer {
        padding: .2em;
        color: white;
        background-color: #;
        clear: left;
        text-align: center;
    }
    
    footer{
        position:absolute;
        top:100%;
        width:100%;
        text-align:center;
    }


.mainheading {
    text-align: center;
}



ul #circlemenu li {
    display: inline;
}


.box{
    position:absolute;
    top:34%;
    left:10%;
    height:60%;
    width:80%;
   
}


.btn1{
    cursor: pointer;
    font-family: "Helvetica";
    position:relative;
    top:10%;
    left:15%;
    padding:2%;
    height:32%;
    width:20%;
    border-radius:50%;
    background:#96ceb4;
    border: 1px outset black
    
}

.btn2{
    cursor: pointer;
    position:relative;
    top:10%;
    left:20%;
    padding:2%;
    height:32%;
    width:20%;
    border-radius:50%;
    background:#ffeead;
    border: 1px outset black;
    
}
.btn3{
    cursor:pointer;
    position:relative;
    top:10%;
    left:25%;
    padding:2%;
    height:32%;
    width:20%;
    border-radius:50%;
    background:#ffcc5c;
    border: 1px outset black;
    
}
.btn4{
    cursor: pointer;
    position:relative;
    top:43%;
    left:-10%;
    padding:2%;
    height:32%;
    width:20%;
    border-radius:50%;
    background:#b8a9c9;
    border: 1px outset black;
    
}

.btn5{
    cursor:pointer;
    position:relative;
    top:12%;
    left:30%;
    padding:2%;
    height:32%;
    width:20%;
    border-radius:50%;
    background:#ff6f69;
    border: 1px outset black;
    
}


